<footer class="page-footer font-samll bg-secondary pt-4">

  <div class="container">

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-white"> siga-nos nas redes sociais </h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a href="https://github.com/ed1van" target="_blank" class="icoGithub">
              <i class="fa fa-github-alt" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a href="https://www.linkedin.com/in/edivan-ferreira/" target="_blank" class="icoLinkedin">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a href="#" target="_blank" class="icoWhatsapp">
              <i class="fa fa-whatsapp" aria-hidden="true"></i>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="footer-copyright bg-dark text-center py-3">
    <span class="text-light"> © 2022 Copyright </span>
    <a href="https://github.com/ed1van" class="text-white" target="_blank">
     Edivan Ferreira
    </a>
  </div>

</footer>
